/SpeedServer/build/
SpeedServer/nbproject/private/private.properties
SpeedServer/.DS_Store
SpeedServer/nbproject/private/private.properties
SpeedServer/src/networking/request/RequestLogin.java
WoB_Client_Basic/Assembly-CSharp.csproj